# wildcard patterns
Makefile
Makefile.in
.deps/
.libs/
*.o
*.l[ao]
*.swp
.dirstamp
.stamps/
stamp-h?
glibmmconfig.h
giommconfig.h
*~

# /
/INSTALL
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/config.status.lineno
/configure
/configure.lineno
/libtool
/glibmm-*.tar.*
/tags

# build/
/build/compile
/build/config.*
/build/depcomp
/build/install-sh
/build/ltmain.sh
/build/libtool.m4
/build/lt*.m4
/build/missing
/build/test-driver

# MSVC_NMake/
/MSVC_NMake/giomm/giomm.rc
/MSVC_NMake/glibmm/glibmm.rc

# docs/
/docs/doc-install.pl
/docs/doc-postprocess.pl
/docs/doxygen.css
/docs/doxygen-extra.css
/docs/tagfile-to-devhelp2.xsl
/docs/reference/Doxyfile
/docs/reference/doxygen.log
/docs/reference/doxygen*.db
/docs/reference/glibmm-*.devhelp2
/docs/reference/glibmm-*.tag
/docs/reference/html/

# examples/
/examples/child_watch/child_watch
/examples/compose/example
/examples/dbus/client_bus_listnames
/examples/dbus/server_without_bus
/examples/dbus/session_bus_service
/examples/iochannel_stream/example
/examples/keyfile/example
/examples/markup/parser
/examples/network/resolver
/examples/network/socket-client
/examples/network/socket-server
/examples/options/example
/examples/properties/example
/examples/regex/example
/examples/settings/settings
/examples/settings/gschemas.compiled
/examples/thread/dispatcher
/examples/thread/dispatcher2

# gio/
/gio/giomm-*.pc
/gio/giomm-*-uninstalled.pc
/gio/giomm/*.cc
!/gio/giomm/contenttype.cc
!/gio/giomm/init.cc
!/gio/giomm/slot_async.cc
!/gio/giomm/socketsource.cc
/gio/giomm/*.h
!/gio/giomm/contenttype.h
!/gio/giomm/init.h
!/gio/giomm/slot_async.h
!/gio/giomm/socketsource.h
!/gio/giomm/wrap_init.h

# glib/
/glib/glibmm-*.pc
/glib/glibmm/binding.cc
/glib/glibmm/binding.h
/glib/glibmm/bytearray.cc
/glib/glibmm/bytearray.h
/glib/glibmm/bytes.cc
/glib/glibmm/bytes.h
/glib/glibmm/checksum.cc
/glib/glibmm/checksum.h
/glib/glibmm/convert.cc
/glib/glibmm/convert.h
/glib/glibmm/date.cc
/glib/glibmm/date.h
/glib/glibmm/datetime.cc
/glib/glibmm/datetime.h
/glib/glibmm/enums.cc
/glib/glibmm/enums.h
/glib/glibmm/fileutils.cc
/glib/glibmm/fileutils.h
/glib/glibmm/iochannel.cc
/glib/glibmm/iochannel.h
/glib/glibmm/keyfile.cc
/glib/glibmm/keyfile.h
/glib/glibmm/markup.cc
/glib/glibmm/markup.h
/glib/glibmm/miscutils.cc
/glib/glibmm/miscutils.h
/glib/glibmm/module.cc
/glib/glibmm/module.h
/glib/glibmm/nodetree.cc
/glib/glibmm/nodetree.h
/glib/glibmm/optioncontext.cc
/glib/glibmm/optioncontext.h
/glib/glibmm/optionentry.cc
/glib/glibmm/optionentry.h
/glib/glibmm/optiongroup.cc
/glib/glibmm/optiongroup.h
/glib/glibmm/regex.cc
/glib/glibmm/regex.h
/glib/glibmm/shell.cc
/glib/glibmm/shell.h
/glib/glibmm/spawn.cc
/glib/glibmm/spawn.h
/glib/glibmm/timezone.cc
/glib/glibmm/timezone.h
/glib/glibmm/unicode.cc
/glib/glibmm/unicode.h
/glib/glibmm/uriutils.cc
/glib/glibmm/uriutils.h
/glib/glibmm/value_basictypes.cc
/glib/glibmm/value_basictypes.h
/glib/glibmm/variant.cc
/glib/glibmm/variant.h
/glib/glibmm/variant_basictypes.cc
/glib/glibmm/variant_basictypes.h
/glib/glibmm/variantdict.cc
/glib/glibmm/variantdict.h
/glib/glibmm/variantiter.cc
/glib/glibmm/variantiter.h
/glib/glibmm/varianttype.cc
/glib/glibmm/varianttype.h
/glib/glibmm/wrap_init.cc
/glib/glibmm/private/*_p.h

# tests/
/tests/*/test
/tests/*/*.trs
/tests/*/*.log
/tests/test-suite.log

# tools/
/tools/defs_gen/*.pyc
/tools/defs_gen/__pycache__/
/tools/extra_defs_gen/generate_defs_gio
/tools/extra_defs_gen/generate_defs_glib
/tools/generate_wrap_init.pl
/tools/gmmproc

# untracked/
untracked/build_scripts/
untracked/docs/
untracked/gio/
untracked/glib/
