# wildcard patterns
Makefile
Makefile.in
.deps/
.libs/
*.o
*.lo
*.la
*_p.h
.stamps/
*.swp

# /
INSTALL
aclocal.m4
autom4te.cache/
config.h
config.log
config.status
configure
libtool
stamp-h1
tags

# MSVC_Net2005/
MSVC_Net2005/giomm/giomm.rc
MSVC_Net2005/giomm/giommconfig.h
MSVC_Net2005/glibmm/glibmm.rc
MSVC_Net2005/glibmm/glibmmconfig.h
MSVC_Net2008/giomm/giomm.rc
MSVC_Net2008/giomm/giommconfig.h
MSVC_Net2008/glibmm/glibmm.rc
MSVC_Net2008/glibmm/glibmmconfig.h

# docs/
docs/reference/Doxyfile
docs/reference/beautify_docs.pl
docs/reference/glibmm-2.4.devhelp
docs/reference/glibmm_doxygen_tags
docs/reference/html/
docs/reference/xml/

# examples/
examples/child_watch/child_watch
examples/compose/example
examples/iochannel_stream/example
examples/keyfile/example
examples/markup/parser
examples/options/example
examples/properties/properties_example
examples/regex/example
examples/thread/dispatcher
examples/thread/dispatcher2
examples/thread/thread
examples/thread/threadpool

# gio/
gio/giomm-2.4.pc
gio/giomm/appinfo.cc
gio/giomm/appinfo.h
gio/giomm/asyncresult.cc
gio/giomm/asyncresult.h
gio/giomm/bufferedinputstream.cc
gio/giomm/bufferedinputstream.h
gio/giomm/bufferedoutputstream.cc
gio/giomm/bufferedoutputstream.h
gio/giomm/cancellable.cc
gio/giomm/cancellable.h
gio/giomm/datainputstream.cc
gio/giomm/datainputstream.h
gio/giomm/dataoutputstream.cc
gio/giomm/dataoutputstream.h
gio/giomm/desktopappinfo.cc
gio/giomm/desktopappinfo.h
gio/giomm/drive.cc
gio/giomm/drive.h
gio/giomm/emblem.cc
gio/giomm/emblem.h
gio/giomm/emblemedicon.cc
gio/giomm/emblemedicon.h
gio/giomm/enums.cc
gio/giomm/enums.h
gio/giomm/error.cc
gio/giomm/error.h
gio/giomm/file.cc
gio/giomm/file.h
gio/giomm/fileattributeinfo.cc
gio/giomm/fileattributeinfo.h
gio/giomm/fileattributeinfolist.cc
gio/giomm/fileattributeinfolist.h
gio/giomm/fileenumerator.cc
gio/giomm/fileenumerator.h
gio/giomm/fileicon.cc
gio/giomm/fileicon.h
gio/giomm/fileinfo.cc
gio/giomm/fileinfo.h
gio/giomm/fileinputstream.cc
gio/giomm/fileinputstream.h
gio/giomm/fileiostream.cc
gio/giomm/fileiostream.h
gio/giomm/filemonitor.cc
gio/giomm/filemonitor.h
gio/giomm/filenamecompleter.cc
gio/giomm/filenamecompleter.h
gio/giomm/fileoutputstream.cc
gio/giomm/fileoutputstream.h
gio/giomm/filterinputstream.cc
gio/giomm/filterinputstream.h
gio/giomm/filteroutputstream.cc
gio/giomm/filteroutputstream.h
gio/giomm/icon.cc
gio/giomm/icon.h
gio/giomm/inetaddress.cc
gio/giomm/inetaddress.h
gio/giomm/inetsocketaddress.cc
gio/giomm/inetsocketaddress.h
gio/giomm/initable.cc
gio/giomm/initable.h
gio/giomm/inputstream.cc
gio/giomm/inputstream.h
gio/giomm/iostream.cc
gio/giomm/iostream.h
gio/giomm/loadableicon.cc
gio/giomm/loadableicon.h
gio/giomm/memoryinputstream.cc
gio/giomm/memoryinputstream.h
gio/giomm/memoryoutputstream.cc
gio/giomm/memoryoutputstream.h
gio/giomm/mount.cc
gio/giomm/mount.h
gio/giomm/mountoperation.cc
gio/giomm/mountoperation.h
gio/giomm/networkaddress.cc
gio/giomm/networkaddress.h
gio/giomm/networkservice.cc
gio/giomm/networkservice.h
gio/giomm/outputstream.cc
gio/giomm/outputstream.h
gio/giomm/resolver.cc
gio/giomm/resolver.h
gio/giomm/seekable.cc
gio/giomm/seekable.h
gio/giomm/socketaddress.h
gio/giomm/socketaddress.cc
gio/giomm/socketaddressenumerator.h
gio/giomm/socketaddressenumerator.cc
gio/giomm/socketconnectable.h
gio/giomm/socketconnectable.cc
gio/giomm/srvtarget.cc
gio/giomm/srvtarget.h
gio/giomm/themedicon.cc
gio/giomm/themedicon.h
gio/giomm/unixinputstream.cc
gio/giomm/unixinputstream.h
gio/giomm/unixoutputstream.cc
gio/giomm/unixoutputstream.h
gio/giomm/volume.cc
gio/giomm/volume.h
gio/giomm/volumemonitor.cc
gio/giomm/volumemonitor.h
gio/giomm/wrap_init.cc
gio/giommconfig.h
gio/stamp-h3

# glib/
glib/glibmm-2.4.pc
glib/glibmm/checksum.cc
glib/glibmm/checksum.h
glib/glibmm/convert.cc
glib/glibmm/convert.h
glib/glibmm/date.cc
glib/glibmm/date.h
glib/glibmm/fileutils.cc
glib/glibmm/fileutils.h
glib/glibmm/iochannel.cc
glib/glibmm/iochannel.h
glib/glibmm/keyfile.cc
glib/glibmm/keyfile.h
glib/glibmm/markup.cc
glib/glibmm/markup.h
glib/glibmm/module.cc
glib/glibmm/module.h
glib/glibmm/nodetree.cc
glib/glibmm/nodetree.h
glib/glibmm/optioncontext.cc
glib/glibmm/optioncontext.h
glib/glibmm/optionentry.cc
glib/glibmm/optionentry.h
glib/glibmm/optiongroup.cc
glib/glibmm/optiongroup.h
glib/glibmm/regex.cc
glib/glibmm/regex.h
glib/glibmm/shell.cc
glib/glibmm/shell.h
glib/glibmm/signalproxy.h
glib/glibmm/spawn.cc
glib/glibmm/spawn.h
glib/glibmm/thread.cc
glib/glibmm/thread.h
glib/glibmm/unicode.cc
glib/glibmm/unicode.h
glib/glibmm/uriutils.cc
glib/glibmm/uriutils.h
glib/glibmm/value_basictypes.cc
glib/glibmm/value_basictypes.h
glib/glibmm/valuearray.cc
glib/glibmm/valuearray.h
glib/glibmm/wrap_init.cc
glib/glibmmconfig.h
glib/stamp-h2

# scripts/
scripts/config.guess
scripts/config.sub
scripts/depcomp
scripts/install-sh
scripts/ltmain.sh
scripts/libtool.m4
scripts/ltoptions.m4
scripts/ltsugar.m4
scripts/ltversion.m4
scripts/lt~obsolete.m4
scripts/missing

# tests/
tests/giomm_ioerror/test
tests/giomm_simple/test
tests/glibmm_date/test
tests/glibmm_nodetree/test
tests/glibmm_ustring_compose/test
tests/glibmm_value/test

# tools/
tools/extra_defs_gen/generate_defs_gio
tools/extra_defs_gen/generate_extra_defs
tools/generate_wrap_init.pl
tools/gmmproc
