# wildcard patterns
Makefile
Makefile.in
.deps/
.libs/
*.o
*.l[ao]
*.swp
.dirstamp
.stamps/
stamp-h?
glibmmconfig.h
giommconfig.h
*~

# /
/INSTALL
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/config.status.lineno
/configure
/configure.lineno
/libtool
/glibmm-*.tar.*
/tags

# scripts/
/build/config.*
/build/depcomp
/build/install-sh
/build/ltmain.sh
/build/libtool.m4
/build/lt*.m4
/build/missing

# MSVC_Net20*/
/MSVC_Net200[58]/giomm/giomm.rc
/MSVC_Net200[58]/glibmm/glibmm.rc
/MSVC_Net2010/giomm/giomm.rc
/MSVC_Net2010/glibmm/glibmm.rc

# docs/
/docs/doc-install.pl
/docs/doc-postprocess.pl
/docs/doxygen.css
/docs/tagfile-to-devhelp2.xsl
/docs/reference/Doxyfile
/docs/reference/doxygen.log
/docs/reference/glibmm-2.4.devhelp2
/docs/reference/glibmm-2.4.tag
/docs/reference/html/

# examples/
/examples/child_watch/child_watch
/examples/compose/example
/examples/dbus/busserver
/examples/dbus/peer
/examples/dbus/userbus
/examples/iochannel_stream/example
/examples/keyfile/example
/examples/markup/parser
/examples/network/resolver
/examples/network/socket-client
/examples/network/socket-server
/examples/options/example
/examples/properties/example
/examples/regex/example
/examples/settings/settings
/examples/settings/gschemas.compiled
/examples/thread/dispatcher
/examples/thread/dispatcher2
/examples/thread/thread
/examples/thread/threadpool

# gio/
/gio/giomm-*.pc
/gio/giomm-*-uninstalled.pc
/gio/giomm/*.cc
!/gio/giomm/contenttype.cc
!/gio/giomm/init.cc
!/gio/giomm/slot_async.cc
/gio/giomm/*.h
!/gio/giomm/contenttype.h
!/gio/giomm/init.h
!/gio/giomm/slot_async.h
!/gio/giomm/wrap_init.h

# glib/
/glib/glibmm-*.pc
/glib/glibmm/balancedtree.cc
/glib/glibmm/balancedtree.h
/glib/glibmm/checksum.cc
/glib/glibmm/checksum.h
/glib/glibmm/convert.cc
/glib/glibmm/convert.h
/glib/glibmm/date.cc
/glib/glibmm/date.h
/glib/glibmm/datetime.cc
/glib/glibmm/datetime.h
/glib/glibmm/fileutils.cc
/glib/glibmm/fileutils.h
/glib/glibmm/iochannel.cc
/glib/glibmm/iochannel.h
/glib/glibmm/keyfile.cc
/glib/glibmm/keyfile.h
/glib/glibmm/markup.cc
/glib/glibmm/markup.h
/glib/glibmm/module.cc
/glib/glibmm/module.h
/glib/glibmm/nodetree.cc
/glib/glibmm/nodetree.h
/glib/glibmm/optioncontext.cc
/glib/glibmm/optioncontext.h
/glib/glibmm/optionentry.cc
/glib/glibmm/optionentry.h
/glib/glibmm/optiongroup.cc
/glib/glibmm/optiongroup.h
/glib/glibmm/regex.cc
/glib/glibmm/regex.h
/glib/glibmm/shell.cc
/glib/glibmm/shell.h
/glib/glibmm/signalproxy.h
/glib/glibmm/spawn.cc
/glib/glibmm/spawn.h
/glib/glibmm/thread.cc
/glib/glibmm/thread.h
/glib/glibmm/timezone.cc
/glib/glibmm/timezone.h
/glib/glibmm/unicode.cc
/glib/glibmm/unicode.h
/glib/glibmm/uriutils.cc
/glib/glibmm/uriutils.h
/glib/glibmm/value_basictypes.cc
/glib/glibmm/value_basictypes.h
/glib/glibmm/valuearray.cc
/glib/glibmm/valuearray.h
/glib/glibmm/variant.cc
/glib/glibmm/variant.h
/glib/glibmm/variant_basictypes.cc
/glib/glibmm/variant_basictypes.h
/glib/glibmm/variantiter.cc
/glib/glibmm/variantiter.h
/glib/glibmm/varianttype.cc
/glib/glibmm/varianttype.h
/glib/glibmm/wrap_init.cc
/glib/glibmm/private/*_p.h

# tests/
/tests/*/test

# tools/
/tools/extra_defs_gen/generate_defs_gio
/tools/extra_defs_gen/generate_defs_glib
/tools/generate_wrap_init.pl
/tools/gmmproc
/tools/pm/Gir/Config.pm
